.displayStats {
    position: sticky;
	top: 0px;
	z-index: 1px;
}
.settingIcon {
    text-align: right;
    color: white;
    background-color: black;
    z-index: 1px;
}
#CharStatsMenu {
    display: none;
    flex-direction: column;
    z-index: 1px;
    background-color: rgb(55, 55, 55, .9);
}
.statsText {
    color: white;
    font-size: 20px;
    margin: 0px 10px;
}
.statsTextTitle {
    color: white;
    font-size: 20px;
    margin: 10px;
}