.gameDisplay {
	background-color: rgb(79, 79, 79, 0.9);
	margin: 10px 10px;
	padding: 10px;
	color: white;
	border: solid;
	border-width: 2px;
	border-color: orangered;
	border-radius: 20px;
}
.gameList {
	display: flex;
	flex-direction: column;
	color: orangered;
	text-decoration: none;
	text-decoration: underline;
	margin: 0px;
	row-gap: 10px;
}
a {
	color: orangered;
	text-decoration: none;
	text-decoration: underline;
	font-size: 25px;
}
div {
	font-size: 25px;
}
/* for tablet */
@media (min-width: 426px) {
	.gameDisplay {
		margin: 20px 50px;
	}
}
/* for desktop */
@media (min-width: 769px) {
	section {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .gameDisplay {
        margin: 50px 70px 0px 10px;
    }
}
